.tab-accesso {
    padding-top: 2rem;
}

.warning-accesso {
    margin-top: 1rem;
}

.nav-link.disabled {
    color: gray !important;
}

.btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 20px;
    bottom: 20px;
}

.btn-group-fab div {
    position: relative;
    width: 100%;
    height: auto;
}

.btn-group-fab .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    margin: 4px auto;
}

.btn-group-fab .btn-main {
    width: 50px;
    height: 50px;
    right: 50%;
    margin-right: -25px;
    z-index: 9;
}

.btn-group-fab .btn-sub {
    bottom: 0;
    z-index: 8;
    right: 50%;
    margin-right: -20px;
}

#fab {
    padding: 0px !important;
}

.padding-adder {
    padding: 2em;
}

#mapWrapper {
    height: 180px;
}

.form-group {
    padding-left: 1em;
}

body {
    padding-top: 13rem;
    height: 100%;
    width: 100%;
}

.responsive-map {
    position: fixed;
    padding-bottom: 35rem;
    padding-top: 5em;
    height: 0;
    overflow: hidden;
}

.responsive-map #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.col-md-6 {
    float: right;
    padding-right: 0em;
    padding-left: 0em;
}

.padder-top{
    padding-top: 2em;
}

#seg {
    max-height: 500em;
}

.padding-bottom-collapse {
    padding-bottom: 2em;
}

.bg-light {
    background-color: white;
    color: white;
}

.stick-to-position {
    position: fixed;
    z-index: 2;
}

.scroller {
    height: 90vh;
    position: fixed;
    overflow-y: scroll;
}

.note-positioner {
    padding-top: 6em;
    padding-right: 3em;
}

.container{
    padding-right: 6em;
    padding-left: 3em;
}

.pad-bottom-seg{
    padding-bottom: 2em;
}

.hidable-phone{
    display: block;
}

label{
    width: auto;
}

.line{
    width: 100%;
}

.hidable-pc{
    display: none;
}

@media screen and (max-width: 600px) {
    .container{
        padding-right: 2em;
        padding-left: 1em;
    }
    
    .responsive-map {
        position: relative;
        padding-bottom: 200px;
        padding-top: 5em;
        height: 0;
        overflow: hidden;
    }
    body {
        padding-top: 5rem;
        height: 100%;
        width: 100%;
    }
    .note-positioner {
        padding-top: 0em;
    }
    .hidable-phone{
        display: none;
    }

    .hidable-pc{
        display: block;
    }
}